# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Lab4Graph.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../../../:\Users\DenCHik\OneDrive\Desktop\1st20-21\2sem\ATSD\Labs\Lab1\4Graph\Lab4Graph\.idea\.idea.Lab4Graph\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
